body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
}

h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: beige;
  }


  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


  h2{
	font-family: Trattatello;
	font-size: 80px;
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 50px;
    margin-top: 50px;
	color: beige;
  }

  p{
  	font-family: sans-serif;
    font-style: italic;
  	font-size: 20px;
  	color: beige;
	text-align: center;
    margin-bottom: 60px;
  }

p:hover{
	font-style: italic;
}

a{
    color: white;
}

#image1{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
        margin-top: 30px;

}

#image2{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
        margin-top: 30px;


}

#image3{
     width: 300px;
    margin: auto;
    margin-bottom: 20px;
        margin-top: 30px;
        transform: rotate(3deg);


}

#image4{
     width: 300px;
    margin: auto;
    margin-bottom: 20px;
        margin-top: 30px;
        transform: rotate(-5deg);


}

#image5{
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
        margin-top: 30px;
        transform: rotate(-7deg);


}

#image6{
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    transform: rotate(5deg);

}

#image7{
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    transform: rotate(2deg);
}



#image8{
    width: 300px;
    margin: auto;
    margin-bottom: 10px;  
        margin-top: 30px;
        transform: rotate(-4deg);

}

#image9{
    width: 300px;
    margin: auto;
    margin-bottom: 10px;  
    margin-top: 30px;    
    transform: rotate(6deg);
}

#image10{
    width: 300px;
    margin: auto;
    margin-bottom: 10px; 
        margin-top: 30px;
   
}